body { font-family: Arial, sans-serif;}

#center_text {
	text-align: center;
	color: rgb(0, 0, 0);
  }

#border {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  overflow: hidden;
  text-align: center;
  border-style:solid;
  border-color:#000000;
  background: #000000;
  color: #ffffff;
}

table {
  font-family: Arial, sans-serif;
  width:100px;
  height:100px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

td, th {
  border: thick double 1px #ffffff;
  background: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 6px;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

/* Navbar links */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}