<!DOCTYPE html>
<html lang="en">
<head>
  <style>html {
    background: url('/static/Background/Jets.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
  <meta charset="UTF-8">
  <title>Hockey Prediction Project Home</title>
</head>

<div id="border">
  <h1 id="center_text">cb-ds-5 Final Project!</h1>
</div>


<body>
  <div class="container">
    <div class="topnav">
      <a href="/">Home</a>
      <a href="predict_lstm">PPG Prediction</a>
      <a href="predict_knn">Closest Compareable Player</a>
    </div>
  </div>
</body> 
</html>