<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
  <meta charset="UTF-8">
  <title>Hockey Prediction Project Home</title>
</head>

<body style="background: rgb(255, 255, 255);">
	<h1 id="center">Hockey Prediction Project, Click links to predict</h1>
  <p id="blocktext">
  <a href="predict_lstm.html">This link will take you to the LSTM Points Per Game Prediction Page</a>
  </p>

  <p id="blocktext">
  <a href="predict_knn.html">This link Will take you to the KNN Closest Compareable Player Page</a>
  </p>
</body>
</html>