<!DOCTYPE html>
<html lang="en">
<head>
  <style>html {
    background: url('/static/Background/Oilers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
  <meta charset="UTF-8">
  <title>Hockey LSTM Prediction Page</title>
</head>

<body>
  <div class="container">
    <div class="topnav">
      <a href="/">Home</a>
      <a href="predict_lstm">PPG Prediction</a>
      <a href="predict_knn">Closest Compareable Player</a>
    </div>
  </div>
</body> 

<body>
  <div id="border">
	<h1>Predict Player PPG</h1>
  <form action="/predict_lstm" method="POST">
    <label for="name">Enter Player Name:</label>
      <input type="text" name="playername_lstm">
      <input type="submit", value="Submit">
      <input type="reset">
  </form>
  </div>
</body>

<div>
    {% for table in tables %}
      {{ table|safe }}
    {% endfor %}
</div>
</html>