<!DOCTYPE html>
<html lang="en">
<style>
  body {
      background-image: url('/static/Background/Blues.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
</style> 
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
  <meta charset="UTF-8">
  <title>Hockey KNN Prediction Page</title>
</head>

<body>
  <div id="border">
	<h1>Predict Closest Compareable Player</h1>
  <form action="/predict_knn.html">
    <label for="name">Enter Player Name:</label>
      <input type="text" name="playername">
      <input type="submit">
      <input type="reset">
  </form>
  </div> 
</body>
</html>